@import url('https://fonts.googleapis.com/css2?family=Rubik+Bubbles&display=swap');

.App {
  text-align: center;
  background-color: #B11E31;
  height: 100vh;
  color: white;
  font-family: 'Rubik Bubbles', sans-serif;
  position: relative;

  .App-logo {
    width: 100vw;
  }
}

.spacer {
  flex: 1;
}

.button {
  height: 50px;
  border-radius: 10px;
  outline: none;
  background-color: transparent;
  border: white 3px solid;
  color: white;
  font-size: 1.2rem;
  font-family: 'Rubik Bubbles', sans-serif;
}

.state {
  animation: fadeSlide .6s ease-in-out;
}

@keyframes fadeSlide {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}



